.dcontainer{
  position: relative;
}
.dcontainer img{
  width: 100%;
  height: 680px;
  margin: 0px;
}
.dcontainer p{
  color: white;
  position: absolute;
  left: 50%;
  top: 43%;
  transform: translate(-50%,-50%);
  font-size: 3.5em;
}

.items{
display:flex;
flex-wrap: wrap;
justify-content:center;
align-items:center;
}

.item{
box-sizing: border-box;
border:2px solid #ccc;
margin: 0;
padding: 20px;
width: 40%;
}

.item{
margin:0 20px 50px 0;
width:calc(50% - 50px);
}

.restaurant {
  text-align: center;
  font-size: 55px;
  margin: 30px;
}

.rest {
  display: flex;
  justify-content: center;
}

.rest ul {
  display: flex;
  text-align: center;
}

.lie {
  text-align: right;
}

.wafu {
  text-align: center;
}

.design {
 width: 100%;
 text-align: center;
 border-collapse: collapse;
 border-spacing: 0;
}
.design th {
 padding: 10px;
 background: #e9faf9;
 border: solid 1px #778ca3;
}
.design td {
 padding: 10px;
 border: solid 1px #778ca3;
}

@charset "utf-8";

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

.contact {
  width: 900px;
  max-width: 90%;
  margin-top: 70px; 
  margin-left: auto; 
  margin-right: auto;
}

.form_area {
  background-color: rgb(237, 237, 237);
  border: 1px solid rgb(41, 41, 41);
  margin-top: 30px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

.form_area dt {
  width: 220px;
  padding: 15px 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
}

.form_area dd {
  width: calc(100% - 220px);
  padding: 13px 0;
}

.form_area dt .required::after {
  content: '*';
  font-size: 18px;
  color: red;
  margin-left: 10px;
}

.input_text {
  width: 90%;
  max-width: 300px;
  height: 40px;
  padding: 0 10px;
}

.message {
  width: 90%;
  height: 280px;
  padding: 10px;
  line-height: 1.5;
}

.confirm_text {
  font-size: 14px;
  margin-top: 20px;
}

.submit_button {
  background-color: whitesmoke;
  display: block;
  min-width: 200px;
  line-height: 50px;
  font-weight: bold;
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
  margin: 20px 0 40px;
  cursor: pointer;
}

.submit_button:hover {
  background-color: rgb(56, 64, 112);
}

@media (max-width: 780px) {

  .contact {
    width: 500px;
    margin-top: 40px;
    font-size: 14px;
  }

  .form_area dt,
  .form_area dd {
    width: 100%;
  }

  .form_area dt {
    padding-bottom: 0;
  }

  .submit_button {
    width: 10%;
  }

}